{% extends "base.html" %}
{% block page_content %}
	{{super()}}
<div class="container">
	<div class="row row-margin">
		<div class="well col-lg-8 col-lg-offset-2">
			<img src="{{url_for('index.aboutPic')}}" class="img-rounded img-responsive center-block">
			<h2>
				<span class="glyphicon glyphicon-user"></span>
				关于我：
			</h2>
			<dl class="dl-horizontal">
				<div class="panel panel-default">
					<div class="panel-body">
						<dt>
							<span class="glyphicon glyphicon-sunglasses"></span>
							个人简介：
						</dt>
						<dd>
							
							<p>
								互联网从业者，爬虫爱好者，web开发爱好者，Python爱好者
							</p>
						</dd>
						<dt>
							<span class="glyphicon glyphicon-fire"></span>
							主要技能：
						</dt>
						<dd>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="60" 
									aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
									<span>Python</span>
								</div>
							</div>	
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="60" 
									aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
									<span>Javascript</span>
								</div>
							</div>					
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="60" 
									aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
									<span>Docker</span>
								</div>
							</div>
												
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="60" 
									aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
									<span>Scrapy</span>
								</div>
							</div>
												
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="60" 
									aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
									<span>Flask</span>
								</div>
							</div>
						</dd>
						<dt>
							<span class="glyphicon glyphicon-glass"></span>
							爱好：
						</dt>
						<dd>
							<span class="label label-info">健身</span>
							<span class="label label-info">跑步</span>
							<span class="label label-info">烹饪</span>
							<span class="label label-info">电影</span>
						</dd>
						<dt>
							<span class="glyphicon glyphicon-send"></span>
							知乎：
						</dt>
						<dd>
							<a href="https://www.zhihu.com/people/lxian-sheng-chao-chao/collections">
								https://www.zhihu.com/people/lxian-sheng-chao-chao/collections
							</a>
						</dd>
						<dt>
						<span class="glyphicon glyphicon-send"></span>
							GitHub：
						</dt>
						<dd>
							<a href="https://github.com/MRLGC">
								https://github.com/MRLGC
							</a>
						</dd>
					</div>
				</div>
			</dl>
		</div>
	</div>
</div>
{% endblock %}