{% extends "base.html" %}
{% block page_content %}
	{{ super() }}
 <section id="main">
  <div class="archives-tags-wrap"><blockquote><span>There are {{ topicList|length }} posts in total till now.</span></blockquote>
		  <section class="archives-wrap">
		    <div class="archives">
          {% for i in topicList %}
		      <article class="archive-article archive-type-post">
            <div class="archive-article-inner">
               <header class="archive-article-header">
                <a href="../2016/11/20/Being-Outside-in-Fresh-Air-and-How-Your-Body-Loves-It/" class="archive-article-date">
                <time datetime="{{i.createTime}}" itemprop="datePublished">{{i.createTime.strftime('%Y-%m-%d')}}</time>
                </a>
                <h1 class="thumb" itemprop="name">
                <a class="archive-article-title" href="../2016/11/20/Being-Outside-in-Fresh-Air-and-How-Your-Body-Loves-It/">{{i.title}}</a>
                </h1>
              </header>
             </div>
          </article>
          {% endfor %}
        </div>
      </section>
  </div>
</section>
{% endblock %}
