{% extends "base.html" %} 
{% block page_content %} 
  {{ super() }}
<div class="container">
<div class="row row-margin">
    <div class="col-lg-10 col-lg-offset-1 well">
    {% for i in tagList %}
      <div class="archive-year-wrap">
        <h1>
          <span class="glyphicon glyphicon-folder-open"></span>
          &nbsp&nbsp{{i.tag_name}}
        </h1>
        {% if i.topic.all() %}
            {% for t in i.topic.all() %}
            <div class="archives">
              <article class="archive-article archive-type-post">
                <div class="archive-article-inner">
                  <header class="archive-article-header">
                    <span>
                      <span class="glyphicon glyphicon-time"></span>
                      <span>{{t.createTime.strftime('%Y-%m-%d')}}</span>
                    </span>
                    <a class="archive-article-title" href="{{url_for('index.detail', topicId=t.id)}}">
                      {{t.title}}
                    </a>
                  </header>
                </div>
              </article>
            </div>
            {% endfor %} 
          {% endif %} 
    </div>
    {% endfor %}
    </div>
</div>
</div>
{% endblock %}