{% extends 'base.html' %}
{%- block styles %}
	{{super()}}
	{{ckeditor.load()}}
{% endblock styles %}
{% block page_content %}
	{{super()}}
<form action="{{url_for('admin.add')}}" method="post" role="form">
	<div class="container edit-margin-top">
		<div class="form-gruop">
			{{form.hidden_tag()}}
		</div>
			{% from 'macro.html' import form_errors %}
		<div class="form-gruop edit-margin">
			{{form.title.label}}:
			{{form.title(class='form-control')}}
			{{form_errors(form.title)}}
		</div>
		<div class="form-gruop edit-margin">
			{{form.tags.label}}:
			{{form.tags(class='form-control')|safe}}
			{{form_errors(form.tags)}}
		</div>
		<div class="form-gruop edit-margin">
			{{form.ckeditor.label}}
			{{form.ckeditor}}
			{{form_errors(form.ckeditor)}}
		</div>
		<div class="form-gruop">
			{{form.submit(class="btn btn-primary edit-margin-btn")}}
		</div>
	</div>
</form>
{{ckeditor.config(name='ckeditor')}}
{% endblock %}