{% extends 'base.html' %}
{% block page_content %}
    {{super()}}
<div class='container'>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form role="form" action="{{ url_for('admin.login') }}" method="POST">
                {{form.hidden_tag()}}
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username(class="form-control") }}
                    {% if form.username.errors %}
                        {% for i in form.username.errors %}
                            <a>
                                {{i}}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{form.password.label}}
                    {{form.password(class="form-control")}}
                    {% if form.username.errors %}
                        {% for i in form.username.errors %}
                            <a>
                                {{i}}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{form.submit(class="btn-primary")}}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock page_content %}